<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".acitvity.SetupDriver"
            android:exported="false" />
        <activity
            android:name=".acitvity.SetupItineraire"
            android:exported="false" />
        <activity
            android:name=".acitvity.DeliveryHistory"
            android:exported="false" />
        <activity
            android:name=".acitvity.ViewItineraire"
            android:exported="false" />
        <activity
            android:name=".acitvity.OnGoingDelivery"
            android:exported="false" />
        <activity
            android:name=".acitvity.WaintingDelivery"
            android:exported="false" />
        <activity
            android:name=".acitvity.ChauffeurHome"
            android:exported="false" />
        <activity
            android:name=".acitvity.PlanificateurHome"
            android:exported="false" />
        <activity
            android:name=".acitvity.ClientHome"
            android:exported="false" />
        <activity
            android:name=".acitvity.ProductSelection"
            android:exported="false" />
        <activity
            android:name=".acitvity.EditProfile"
            android:exported="false" />
        <activity
            android:name=".acitvity.LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acitvity.Register"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar" />
        <activity
            android:name=".acitvity.Login"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar" />
        <activity
            android:name=".acitvity.MainActivity"
            android:exported="true" />
    </application>

</manifest>